ai_training/.venv/
__pycache__/
*.pyc
*.h5
*.keras
*.npy
*.csv

# Editor
.vscode/
.idea/

# Buildroot generated artifacts
software/os_buildroot/output/
software/os_buildroot/dl/
software/os_buildroot/build/
software/os_buildroot/host/
software/os_buildroot/staging/
software/os_buildroot/target/
software/os_buildroot/images/
